<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" style="font-family: Arial;">

<head>
  <meta charset="UTF-8">
  <title>TRACEFOOD</title>
  <link rel="stylesheet" type="text/css" href="style2.css" />

</head>

<body>

<header class="wf-layout-layout">
  <div class="w-layout-cell">
    <h1 class="tracefood">TRACEFOOD</h1>
  </div>
</header>

<div class="menu">
  <ul>
    <li><a th:href="@{/accountInformation}">Account information</a></li>
    <li><a th:href="@{/informationAboutAProduct}">Information about a product</a></li>
    <li><a th:href="@{/addAProduct}">Add a product</a></li>
    <li><a th:href="@{/history}">History</a></li>
  </ul>
</div>

<div class="w-layout-layout-column center-box-user wf-layout-layout">

    <div class="w-layout-cell cell-3 w-layout-layout-column">

      <div class="wf-layout-layout">

        <div class="w-layout-layout-column connection-fields informationBox">
          <div class="w-layout-column">
            <div class="w-layout-cell">
              <p class="informationItem">Company name</p>
            </div>
          </div>
          <div class="w-layout-column">
            <div class="w-layout-cell">
              <p class="informationItem rightText">th:text="${session.companyName}</p>
            </div>
          </div>
        </div>

        <div class="w-layout-layout-column connection-fields informationBox">
          <div class="w-layout-column">
            <div class="w-layout-cell informationItem">
              <p class="">Company address</p>
            </div>
          </div>
          <div class="w-layout-column">
            <div class="w-layout-cell informationItem">
              <p class="rightText">th:text="${session.companyAddress}</p>
            </div>
          </div>
        </div>

        <div class="w-layout-layout-column connection-fields informationBox">
          <div class="w-layout-column">
            <div class="w-layout-cell">
              <p class="informationItem">Password</p>
            </div>
          </div>
          <div class="w-layout-column">
            <div class="w-layout-cell">
              <p class="informationItem rightText"> th:each="i : ${#numbers.sequence(1, pwdNumber)}" th:text="•"> </p>
            </div>
          </div>
        </div>

        <div class="w-layout-layout-column connection-fields">
          <div class="w-layout-column">
            <div class="w-layout-cell informationItem cell-5">
              <form id="deleteForm" action="/deleteAccount" method="DELETE">
                <button type="submit" class="delete-button clickableButton">Delete the account</button>
              </form>
            </div>
          </div>

        </div>

        </div>

  </div>
</div>
</body>

</html>