<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" xmlns="http://www.w3.org/1999/html" style="font-family: Arial;">

<head>
  <meta charset="UTF-8">
  <title>TRACEFOOD</title>
  <link rel="stylesheet" type="text/css" href="style.css" />

</head>

<body>

<div th:replace="~{header :: header}"></div>

<div th:replace="~{menu :: menu}"></div>

<div class="w-layout-layout-column center-box-user wf-layout-layout">
  <div class="w-layout-cell cell-3 w-layout-layout-column">
    <div class="wf-layout-layout">

      <div class="w-layout-layout-column connection-fields informationBox">
        <div class="w-layout-column">
          <div class="w-layout-cell">
            <p class="informationItem">Company name</p>
          </div>
        </div>
        <div class="w-layout-column">
          <div class="w-layout-cell">
            <p class="informationItem rightText" th:text="${companyName}"></p>
          </div>
        </div>
      </div>

      <div class="w-layout-layout-column connection-fields informationBox">
        <div class="w-layout-column">
          <div class="w-layout-cell informationItem">
            <p class="">Company address</p>
          </div>
        </div>
        <div class="w-layout-column">
          <div class="w-layout-cell informationItem">
            <p class="informationItem rightText" th:text="${companyAddress}"></p>
          </div>
        </div>
      </div>

      <div class="w-layout-layout-column connection-fields informationBox">
        <div class="w-layout-column">
          <div class="w-layout-cell">
            <p class="informationItem">Password</p>
          </div>
        </div>

        <div class="w-layout-column">
          <div class="w-layout-cell informationItem ">
            <div class="dot-container rightText">

              <p class="dot" th:each="i : ${#numbers.sequence(1, 6)}">.</p>
            </div>
          </div>
        </div>



      </div>

        <div class="w-layout-layout-column connection-fields informationBox">
          <div class="w-layout-column">
            <div class="w-layout-cell informationItem">
              <p class="informationItem">Certifications : </p>
            </div>
          </div>
          <div class="w-layout-column">
            <div class="w-layout-cell informationItem">
              <form class="rightText" action="/addNewCertification" method="POST">
                <select name="newCertification" class="sign-in-field" required>
                  <option></option>
                </select>
                <button type="submit" name="newCertification"  class="clickableButton">Add new certification</button>
              </form>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
</body>

</html>