<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" style="font-family: Arial;">

<head>
  <meta charset="UTF-8">
  <title>TRACEFOOD</title>
  <link rel="stylesheet" type="text/css" href="style2.css" />

</head>

<body>
<div class="w-layout-layout-column center-box wf-layout-layout">
  <div class="w-layout-cell">
    <h1 class="tracefood">TRACEFOOD</h1>

    <div class="w-layout-cell cell-3 w-layout-layout-column">

        <div class="w-layout-layout-column connection-fields">
          <div class="w-layout-column">
            <div class="w-layout-cell">
              <p class="informationBox">Company name</p>
            </div>
            <div class="w-layout-cell">
              <p class="informationBox">Company addess</p>
            </div>
            <div class="w-layout-cell">
              <p class="informationBox">Type</p>
            </div>
            <div class="w-layout-cell">
              <p class="informationBox">Email address</p>
            </div>
            <div class="w-layout-cell">
              <p class="informationBox">Password</p>
            </div>
          </div>

          <div class="w-layout-column">
            <div class="w-layout-column">
              <div class="w-layout-cell">
                <p class="rightText informationBox">Company name</p>
              </div>
              <div class="w-layout-cell">
                <p class="rightText informationBox">Company addess</p>
              </div>
              <div class="w-layout-cell">
                <p class="rightText informationBox">Type</p>
              </div>
              <div class="w-layout-cell">
                <p class="rightText informationBox">Email address</p>
              </div>
              <div class="w-layout-cell">
                <p class="rightText informationBox">Password</p>
              </div>
          </div>
          </div>
        </div>
    </div>
  </div>
</div>
</body>

</html>