<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" style="font-family: Arial; ">

<head>
  <meta charset="UTF-8">
  <title> TRACEFOOD </title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>

<div th:replace="~{header :: header}"></div>

<div th:replace="~{menu :: menu}"></div>

<div id="w-node-1" class="w-layout-layout center-box wf-layout-layout">
  <div id="w-node-3" class="w-layout-cell cell-3">

    <div id="w-node-5" class="w-layout-layout connection-fields wf-layout-layout">

      <div th:switch="${session.userType}">
        <div th:case="Producer">
          <div class="w-layout-cell cell-4">
            <a th:href="@{/addAProduction}" class="homeButton clickableButton">New production</a>
          </div>
        </div>
        <div th:case="Processor">
          <div class="w-layout-cell cell-4">
            <a th:href="@{/addAProcessing}" class="homeButton clickableButton">New processing</a>
          </div>
        </div>
        <div th:case="*">
        </div>
      </div>

      <div class="w-layout-cell cell-5">
        <a th:href="@{/addATransport}" class="homeButton clickableButton">New Transportation</a>
      </div>
    </div>

  </div>

</div>
</body>

</html>
