<!DOCTYPE html>
<html style="font-family: Arial;">
	<head>
		<title> TRACEFOOD </title>
		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>

<body class="body">
  <div id="w-node-chooseUserType1" class="w-layout-layout center-box wf-layout-layout">
    <div id="w-node-chooseUserType2" class="w-layout-cell">
      <h1 class="tracefood">TRACEFOOD</h1>
    </div>
    <div id="w-node-chooseUserType3" class="w-layout-cell">
      <h1 class="who-box">WHO ARE YOU ?</h1>
    </div>
    <div id="w-node-chooseUserType4" class="w-layout-cell cell-2">
      <div id="w-node-chooseUserType5" class="w-layout-layout users wf-layout-layout">
        <div id="w-node-chooseUserType6" class="w-layout-cell">
          <a th:href="@{/signUpProducer}" data-w-id="1f7f6724-ceef-ab7c-18a6-7df845a1fa5c" class="user w-button">Producer</a>
        </div>
        <div id="w-node-chooseUserType7" class="w-layout-cell">
          <a th:href="@{/signUpProcessor}" data-w-id="05947c19-9d57-d61d-4cb3-9e4153faf4da" class="user w-button">Processor</a>
        </div>
        <div id="w-node-chooseUserType8" class="w-layout-cell">
          <a th:href="@{/signUpDistributor}" data-w-id="27e0806a-777a-6c76-e089-6a094d8060bb" class="user w-button">Distributor</a>
        </div>
        <div id="w-node-chooseUserType9" class="w-layout-cell">
          <a th:href="@{/signUpSeller}" data-w-id="0fd64260-af27-8333-2f4a-ed2679ab84ed" class="user w-button">Seller</a>
        </div>
      </div>
    </div>
  </div>
</body>
