<!DOCTYPE html>
<html style="font-family: Arial;">
	<head>
		<title> TRACEFOOD </title>
		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>

<body class="body">
  <div id="chooseUserType1" class="w-layout-layout center-box wf-layout-layout chooseUserType">
    <div class="w-layout-cell chooseUserType">
      <h1 class="tracefood">TRACEFOOD</h1>
    </div>
    <div class="w-layout-cell">
      <h1 class="who-box">WHO ARE YOU ?</h1>
    </div>
    <div class="w-layout-cell cell-2 chooseUserType">
      <div id="chooseUserType2" class="w-layout-layout users wf-layout-layout chooseUserType">
        <div class="w-layout-cell chooseUserType">
          <a th:href="@{/signUpProducer}" class="user w-button clickableButton">Producer</a>
        </div>
        <div class="w-layout-cell chooseUserType">
          <a th:href="@{/signUpProcessor}" class="user w-button clickableButton">Processor</a>
        </div>
        <div class="w-layout-cell" chooseUserType>
          <a th:href="@{/signUpHoReCa}" class="user w-button clickableButton">HoReCa</a>
        </div>
        <div class="w-layout-cell" chooseUserType>
          <a th:href="@{/signUpSeller}" class="user w-button clickableButton">Seller</a>
        </div>
      </div>
    </div>
  </div>
</body>
