<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" style="font-family: Arial; ">

<head>
  <meta charset="UTF-8">
  <title> TRACEFOOD </title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>

<div id="w-node-1" class="w-layout-layout center-box wf-layout-layout">
  <header class="wf-layout-layout">
    <div class="w-layout-cell">
      <a class="tracefood" th:href="@{/homePage}">
        <h1>TRACEFOOD</h1>
      </a>
    </div>
  </header>

  <div id="w-node-3" class="w-layout-cell cell-3">

    <div id="w-node-5" class="w-layout-layout connection-fields wf-layout-layout">
      <h2>ERROR</h2>
      <p class="error-message">Something went wrong !</p>
    </div>

  </div>

</div>
</body>

</html>
