<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" style="font-family: Arial; ">

<head>
  <meta charset="UTF-8">
  <title> TRACEFOOD </title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>

<div id="w-node-1" class="w-layout-layout center-box wf-layout-layout">
  <header class="wf-layout-layout">
    <div class="w-layout-cell">
        <h1 class="tracefood">TRACEFOOD</h1>
      </a>
    </div>
  </header>
  <div class="menuHomePage">
    <ul>
      <li><a th:href="@{/searchForAProduct}">Information about a product</a></li>
      <li><a th:href="@{/signIn}">Sign in</a></li>
    </ul>
  </div>

  <div id="w-node-3" class="w-layout-cell cell-3">

    <div id="w-node-5" class="w-layout-layout connection-fields wf-layout-layout">
      <h2>Welcome on the website!</h2>
      <p>On TRACEFOOD you can find all the necessary information on your favorite products.
        From manufacturing to sell everything you need to know is here.
        Taking care of your health starts with knowing what you eat.</p>
    </div>

  </div>

</div>
</body>

</html>
