<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" style="font-family: Arial;">

<head>
  <meta charset="UTF-8">
  <title>TRACEFOOD</title>
  <link rel="stylesheet" type="text/css" href="style.css" />

</head>

<body>

<header class="wf-layout-layout">
  <div class="w-layout-cell">
    <a class="tracefood" th:href="@{/homePage}">
      <h1>TRACEFOOD</h1>
    </a>
  </div>
</header>

<div class="w-layout-layout-column center-box-user wf-layout-layout">
  <div class="w-layout-cell cell-3 w-layout-layout-column">
    <div class="wf-layout-layout">
      <div id="w-node-2" class="w-layout-cell">
        <form id="searchForm" action="/informationAboutAProduct" method="POST">
          <span>Identification number :
            <input name="productId" class="field"/>
          </span>
          <button type="submit" class="search-button clickableButton">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div th:replace="~{operations :: operations}"></div>

</body>

</html>