<th:block th:fragment="operations">

  <div class="w-layout-layout-column center-box-user wf-layout-layout">
    <div class="w-layout-cell cell-3 w-layout-layout-column">
      <div class="wf-layout-layout">

        <div class="operation" th:each="operation: ${operations}">

          <div th:switch="${operation.getType().toString()}">

            <span th:case="'Processing'">

              <div class="w-layout-layout-column connection-fields informationBox centerText">
                <div class="w-layout-column">
                  <div class="w-layout-cell">
                    <p class="informationItem">Processing</p>
                  </div>
                </div>
              </div>

              <div class="w-layout-layout-column connection-fields informationBox">
                <div class="w-layout-column">
                  <div class="w-layout-cell">
                    <p class="informationItem">Origin product name</p>
                  </div>
                </div>
                <div class="w-layout-column">
                  <div class="w-layout-cell">
                    <p class="informationItem rightText" th:text="${operation.getAttributs().get('originProductName')}"></p>
                  </div>
                </div>
              </div>

              <div class="w-layout-layout-column connection-fields informationBox">
                <div class="w-layout-column">
                  <div class="w-layout-cell">
                    <p class="informationItem">Origin product type</p>
                  </div>
                </div>
                <div class="w-layout-column">
                  <div class="w-layout-cell">
                    <p class="informationItem rightText" th:text="${operation.getAttributs().get('originProductType')}"></p>
                  </div>
                </div>
              </div>

              <div class="w-layout-layout-column connection-fields informationBox">
                <div class="w-layout-column">
                  <div class="w-layout-cell">
                    <p class="informationItem">New Product name</p>
                  </div>
                </div>
                <div class="w-layout-column">
                  <div class="w-layout-cell">
                    <p class="informationItem rightText" th:text="${operation.getAttributs().get('newProductName')}"></p>
                  </div>
                </div>
             </div>
              <div class="w-layout-layout-column connection-fields informationBox">
                <div class="w-layout-column">
                  <div class="w-layout-cell">
                    <p class="informationItem">New product type</p>
                  </div>
                </div>
                <div class="w-layout-column">
                  <div class="w-layout-cell">
                    <p class="informationItem rightText" th:text="${operation.getAttributs().get('newProductType')}"></p>
                  </div>
                </div>
              </div>

              <div class="w-layout-layout-column connection-fields informationBox">
                <div class="w-layout-column">
                  <div class="w-layout-cell">
                    <p class="informationItem">Processor</p>
                  </div>
                </div>
                <div class="w-layout-column">
                  <div class="w-layout-cell">
                    <p class="informationItem rightText" th:text="${operation.getAttributs().get('processorCompanyName')}"></p>
                  </div>
                </div>
              </div>

              <div class="w-layout-layout-column connection-fields informationBox">
                <div class="w-layout-column">
                  <div class="w-layout-cell">
                    <p class="informationItem">Description</p>
                  </div>
                </div>
                <div class="w-layout-column">
                  <div class="w-layout-cell">
                    <p class="informationItem rightText" th:text="${operation.getAttributs().get('operationDescription')}"></p>
                  </div>
                </div>
              </div>

              <div class="w-layout-layout-column connection-fields informationBox">
                <div class="w-layout-column">
                  <div class="w-layout-cell">
                    <p class="informationItem">Date</p>
                  </div>
                </div>
                <div class="w-layout-column">
                  <div class="w-layout-cell">
                    <p class="informationItem rightText" th:text="${operation.getAttributs().get('date')}"></p>
                  </div>
                </div>
              </div>

            </span>

            <span th:case="'Production'">

              <div class="w-layout-layout-column connection-fields informationBox centerText">
                <div class="w-layout-column">
                  <div class="w-layout-cell">
                    <p class="informationItem">Production</p>
                  </div>
                </div>
              </div>

            <div class="w-layout-layout-column connection-fields informationBox">
              <div class="w-layout-column">
                <div class="w-layout-cell">
                  <p class="informationItem">Created product</p>
                </div>
              </div>
              <div class="w-layout-column">
                <div class="w-layout-cell">
                    <p class="informationItem rightText" th:text="${operation.getAttributs().get('productName')}"></p>
                </div>
              </div>
            </div>

              <div class="w-layout-layout-column connection-fields informationBox">
              <div class="w-layout-column">
                <div class="w-layout-cell">
                  <p class="informationItem">Product type</p>
                </div>
              </div>
              <div class="w-layout-column">
                <div class="w-layout-cell">
                    <p class="informationItem rightText" th:text="${operation.getAttributs().get('productType')}"></p>
                </div>
              </div>
            </div>

            <div class="w-layout-layout-column connection-fields informationBox">
              <div class="w-layout-column">
                <div class="w-layout-cell">
                  <p class="informationItem">Producer company name</p>
                </div>
              </div>
              <div class="w-layout-column">
                <div class="w-layout-cell">
                    <p class="informationItem rightText" th:text="${operation.getAttributs().get('producerCompanyName')}"></p>
                </div>
              </div>
            </div>

              <div class="w-layout-layout-column connection-fields informationBox">
              <div class="w-layout-column">
                <div class="w-layout-cell">
                  <p class="informationItem">Description</p>
                </div>
              </div>
              <div class="w-layout-column">
                <div class="w-layout-cell">
                    <p class="informationItem rightText" th:text="${operation.getAttributs().get('operationDescription')}"></p>
                </div>
              </div>
            </div>

            <div class="w-layout-layout-column connection-fields informationBox">
              <div class="w-layout-column">
                <div class="w-layout-cell">
                  <p class="informationItem">Date</p>
                </div>
              </div>
              <div class="w-layout-column">
                <div class="w-layout-cell">
                    <p class="informationItem rightText" th:text="${operation.getAttributs().get('date')}"></p>
                </div>
              </div>
            </div>
            </span>

            <span th:case="'Transport'">

              <div class="w-layout-layout-column connection-fields informationBox centerText">
                <div class="w-layout-column">
                  <div class="w-layout-cell">
                    <p class="informationItem">Transport</p>
                  </div>
                </div>
              </div>

            <div class="w-layout-layout-column connection-fields informationBox">
              <div class="w-layout-column">
                <div class="w-layout-cell">
                  <p class="informationItem">Product name</p>
                </div>
              </div>
              <div class="w-layout-column">
                <div class="w-layout-cell">
                    <p class="informationItem rightText" th:text="${operation.getAttributs().get('productName')}"></p>
                </div>
              </div>
            </div>

              <div class="w-layout-layout-column connection-fields informationBox">
              <div class="w-layout-column">
                <div class="w-layout-cell">
                  <p class="informationItem">Product type</p>
                </div>
              </div>
              <div class="w-layout-column">
                <div class="w-layout-cell">
                    <p class="informationItem rightText" th:text="${operation.getAttributs().get('productType')}"></p>
                </div>
              </div>
            </div>

            <div class="w-layout-layout-column connection-fields informationBox">
              <div class="w-layout-column">
                <div class="w-layout-cell">
                  <p class="informationItem">Sender</p>
                </div>
              </div>
              <div class="w-layout-column">
                <div class="w-layout-cell">
                    <p class="informationItem rightText" th:text="${operation.getAttributs().get('senderCompanyName')}"></p>
                </div>
              </div>
            </div>

            <div class="w-layout-layout-column connection-fields informationBox">
              <div class="w-layout-column">
                <div class="w-layout-cell">
                  <p class="informationItem">Receiver</p>
                </div>
              </div>
              <div class="w-layout-column">
                <div class="w-layout-cell">
                    <p class="informationItem rightText" th:text="${operation.getAttributs().get('receiverCompanyName')}"></p>
                </div>
              </div>
            </div>

              <div class="w-layout-layout-column connection-fields informationBox">
              <div class="w-layout-column">
                <div class="w-layout-cell">
                  <p class="informationItem">Description</p>
                </div>
              </div>
              <div class="w-layout-column">
                <div class="w-layout-cell">
                    <p class="informationItem rightText" th:text="${operation.getAttributs().get('operationDescription')}"></p>
                </div>
              </div>
            </div>

            <div class="w-layout-layout-column connection-fields informationBox">
              <div class="w-layout-column">
                <div class="w-layout-cell">
                  <p class="informationItem">Departure</p>
                </div>
              </div>
              <div class="w-layout-column">
                <div class="w-layout-cell">
                    <p class="informationItem rightText" th:text="${operation.getAttributs().get('departureDate')}"></p>
                </div>
              </div>
            </div>

            <div class="w-layout-layout-column connection-fields informationBox">
              <div class="w-layout-column">
                <div class="w-layout-cell">
                  <p class="informationItem">Arrival</p>
                </div>
              </div>
              <div class="w-layout-column">
                <div class="w-layout-cell">
                    <p class="informationItem rightText" th:text="${operation.getAttributs().get('arrivalDate')}"></p>
                </div>
              </div>
            </div>

            </span>
            <span th:case="*">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>