<!DOCTYPE html>
<html style="font-family: Arial;">

<head>
  <meta charset="UTF-8">
  <title>TRACEFOOD</title>
  <link rel="stylesheet" type="text/css" href="style.css" />

</head>

<body>

<div th:replace="~{header :: header}"></div>

<div th:replace="~{menu :: menu}"></div>

<div class="w-layout-layout-column center-box-user wf-layout-layout">
  <div class="w-layout-cell cell-3 w-layout-layout-column">
    <div class="wf-layout-layout">
      <div id="w-node-2" class="w-layout-cell">
        <form id="searchForm" action="/informationAboutAProduct" method="POST">
          <span>Identification number :
            <input name="productId" class="sign-in-field"/>
          </span>
          <button type="submit" class="search-button clickableButton">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>

</html>