<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" style="font-family: Arial;">

<head>
  <meta charset="UTF-8">
  <title>TRACEFOOD</title>
  <link rel="stylesheet" type="text/css" href="style2.css" />

</head>

<body>
<div class="w-layout-layout-column center-box wf-layout-layout">
  <div class="w-layout-cell">
    <h1 class="tracefood">TRACEFOOD</h1>

    <div th:if="${error}" class="error-message">This email address is already used.</div>

    <div class="w-layout-cell cell-3 w-layout-layout-column">
      <form class="signUpForm" action="/signUpHoReCa" method="POST">
        <div class="w-layout-layout-column connection-fields">
          <div class="w-layout-column">
            <div class="w-layout-cell cell-5">
              <p class="sign-button">Company name</p>
            </div>
            <div class="w-layout-cell cell-5">
              <p class="sign-button">Company addess</p>
            </div>
            <div class="w-layout-cell cell-5">
              <p class="sign-button">Type</p>
            </div>
            <div class="w-layout-cell cell-5">
              <p class="sign-button">Email address</p>
            </div>
            <div class="w-layout-cell cell-5">
              <p class="sign-button">Password</p>
            </div>
          </div>
          <div class="w-layout-column">
            <div class="w-layout-cell cell-5">
              <input name="companyName" class="sign-in-field" type="text" required/>
            </div>
            <div class="w-layout-cell cell-5">
              <input name="companyAddress" class="sign-in-field" type="text" required/>
            </div>
            <div class="w-layout-cell cell-5">

              <select id="type" name="type" class="sign-in-field" required>
                <option th:each="hoReCa : ${T(hr.algebra.tracefood.webapp.model.HoReCaType).values()}"
                        th:value="${hoReCa.name()}" th:text="${hoReCa.toString()}"></option>
              </select>

            </div>
            <div class="w-layout-cell cell-5">
              <input name="emailAddress" class="sign-in-field" placeholder="name@example.com" type="email" required/>
            </div>
            <div class="w-layout-cell cell-5">
              <input name="password" class="sign-in-field" type="password" required/>
            </div>
          </div>
        </div>
        <div class="w-layout-cell cell-2">
          <div class="w-layout-layout sign-in wf-layout-layout">
            <div class="w-layout-cell cell-9">
              <button type="submit" class="clickableButton sign-in">Sign up</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>

</html>
