<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" style="font-family: Arial; ">

  <head>
    <meta charset="UTF-8">
    <title> TRACEFOOD </title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>

  <body>

  <header class="wf-layout-layout">
    <div class="w-layout-cell">
      <h1 class="tracefood">TRACEFOOD</h1>
    </div>
  </header>

  <div class="menu">
    <ul>
      <li><a th:href="@{/accountInformation}">Account information</a></li>
      <li><a th:href="@{/searchForAProduct}">Information about a product</a></li>
      <li><a th:href="@{/addAProduct}">Add a product</a></li>
      <li><a th:href="@{/history}">History</a></li>
    </ul>
  </div>

  <div id="w-node-1" class="w-layout-layout center-box wf-layout-layout">
    <div id="w-node-3" class="w-layout-cell cell-3">

        <div id="w-node-5" class="w-layout-layout connection-fields wf-layout-layout">
          <div class="w-layout-cell cell-4">
            <a th:href="@{/accountInformation}" class="homeButton clickableButton">Account Information</a>
          </div>
          <div class="w-layout-cell cell-5">
            <a class="homeButton clickableButton">Information about a product</a>
          </div>
          <div class="w-layout-cell cell-5">
            <a class="homeButton clickableButton">Add an operation</a>
          </div>
          <div class="w-layout-cell cell-5">
            <a class="homeButton clickableButton">History</a>
          </div>
        </div>

        </div>

    </div>
  </div>
  </body>

</html>
