<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" style="font-family: Arial; ">

  <head>
    <meta charset="UTF-8">
    <title> TRACEFOOD </title>
    <link rel="stylesheet" type="text/css" href="style2.css" />
  </head>

  <body>

  <div th:replace="~{header :: header}"></div>

  <div th:replace="~{menu :: menu}"></div>

  <div id="w-node-1" class="w-layout-layout center-box wf-layout-layout">
    <div id="w-node-3" class="w-layout-cell cell-3">

        <div id="w-node-5" class="w-layout-layout connection-fields wf-layout-layout">
          <div class="w-layout-cell cell-4">
            <a th:href="@{/accountInformation}" class="homeButton clickableButton">Account Information</a>
          </div>
          <div class="w-layout-cell cell-5">
            <a th:href="@{/searchForAProduct}" class="homeButton clickableButton">Information about a product</a>
          </div>
          <div class="w-layout-cell cell-5">
            <a th:href="@{/addAnOperation}" class="homeButton clickableButton">Add an operation</a>
          </div>
          <div class="w-layout-cell cell-5">
            <a th:href="@{/history}" class="homeButton clickableButton">History</a>
          </div>
        </div>

        </div>

    </div>
  </div>
  </body>

</html>
