.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 10px;
}

.w-layout-layout-column {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 10px;
  display: flex;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.w-layout-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cell {
  justify-content: center;
}

.who_are_you_page {
  width: 800px;
  height: 700px;
  border-radius: 0;
  flex: 0 auto;
  margin: auto;
}

.center-box {
  width: 900px;
  max-width: 900px;
  background-color: rgba(130, 180, 122, .25);
  border-radius: 20px;
  margin: 150px auto auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

.tracefood {
  color: #aa063f;
  margin-left: auto;
  margin-right: auto;
  font-family: Exo, sans-serif;
}

.who-box {
  margin-left: auto;
  margin-right: auto;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-weight: 400;
}

.users {
  width: 170px;
  text-align: center;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
}

.sign-button {
  max-height: 25px;
  width: 170px;
  text-align: center;
  background-color: #62ac3f;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  padding: 7px;
}

.homeButton{
  border: black;
  border: solid;
}

.sign-button{
  border: none;
}

.sign-submit:hover{
  background-color: #307211;
}

.sign-in-field {
  color: #306e45;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 17px;
  margin-bottom: 16px;
  width: 170px;
  padding: 8px;
  border: none;
  margin-right: auto;
  margin-left: auto;
}

#type{
  padding: 7px;
  width: 185px;
}

.user {
  max-height: 25px;
  width: 100px;
  text-align: center;
  background-color: #62ac3f;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  padding: 7px;
  text-decoration: none;
}

.user:hover {
  background-color: #307211;
}

.body {
  border-radius: 20px;
  font-size: 15px;
}

.cell-3 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-4 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.connection-fields, .cell-5, .cell-6, .cell-7, .cell-2, cell-9 {
  margin-left: auto;
  margin-right: auto;
}

.cell-8 {
  border-radius: 20px;
}

.sign-in {
  margin-left: auto;
  margin-right: auto;
}

.sign-submit{
  border: none;
  width: 90px;
  padding: 5px;
}

.text-block {
  color: #000;
  text-decoration: none;
}

#w-node-chooseUserType1 {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
}

#w-node-chooseUserType2,
#w-node-chooseUserType3,
#w-node-chooseUserType4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-chooseUserType5 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#w-node-chooseUserType6,
#w-node-chooseUserType7,
#w-node-chooseUserType8,
#w-node-chooseUserType9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2d5dbda0-68ef-9683-d186-933924437bd0-255c35ec {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

#w-node-df395e3d-f798-289e-fcf9-e922843b259b-255c35ec {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-1 {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
}


#w-node-4,
#w-node-3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-5 {
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr;
}

#w-node-6,
#w-node-7,
#w-node-8,
#w-node-9,
#w-node-10 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-11 {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

#w-node-12 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

.error-message {
  color: red;
  display: none;
}